.prev_main{
    width: 80%;
    height: 30pc;
    background-color: antiquewhite;
    margin:20px 10px 20px 10% ;
}
.prev-title{
    color: black;
    font-size: 3vw;
    position:relative;
    margin-left: 30%;
    margin-top: 20px;
}
.prev-img{
    margin:7pc 0 0 2pc;
    height: 20pc;
}
.prev-author{
    color: #000;
}
.prev-catergory{
    color: #000;
}
.prev_description{
    color: #000;
}

.prev-frame{
    display: flex;
    justify-content: space-around;
}
.prev-frame2{
    margin-top: 5pc;
    width: 30pc;
}